 <div class="panel panel-default products">

    <table class="table table-bordered">

        <tr>
          <th colspan="2">Inventory Count</th>
          <td><a role="button" href="/admin/products" class="btn btn-outline-success"><%= @products.count %></a></td>
        </tr>
        <tr>
          <th colspan="2">Number of Store Categories</th>
          <td><a role="button" href="/" class="btn btn-outline-success""><%= @categories.count %></a></td>
        </tr>

    </table>

  </div>